In [6]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time
import requests
import json
import geopandas
from geopy.geocoders import Nominatim
import sqlite3

In [8]:
# Set executable path and initialize Chrome browser
executable_path = {"executable_path': '/usr/local/bin/chromedriver"}
browser = Browser("chrome",executable_path, headless=True)

In [9]:
# Visit the backpacker website
url = "https://www.priceoftravel.com/world-cities-by-price-backpacker-index/"
browser.visit(url)

time.sleep(1)

In [10]:
# Find all cities in top list
top_cities_html = browser.html
top_cities_soup = bs(top_cities_html, "html.parser")
top_cities = top_cities_soup.find('div', class_ = "bpiidx_list").find_all('a', href=True)

In [11]:
places_list = []

for city in range(0,len(top_cities)):
        
    city_country_name = top_cities[city].text.replace("\n"," ").strip()
    places_list.append(city_country_name)

# Check places list
places_list

['Hanoi, Viet Nam',
 'Saigon (Ho Chi Minh City), Viet Nam',
 'Jakarta, Indonesia',
 'Pokhara, Nepal',
 'Hoi An, Viet Nam',
 'Vientiane, Laos',
 'Chiang Mai, Thailand',
 'Manila, Philippines',
 'Yangon, Myanmar',
 'Quito, Ecuador',
 'Kathmandu, Nepal',
 'Cancun, Mexico',
 'Delhi, India',
 'Phnom Penh, Cambodia',
 'Colombo, Sri Lanka',
 'Goa, India',
 'Granada (Nicaragua), Nicaragua',
 'Cartagena, Colombia',
 'Zanzibar City, Tanzania',
 'La Paz, Bolivia',
 'Kuta, Bali, Indonesia',
 'Bucharest, Romania',
 'Luang Prabang, Laos',
 'Belgrade, Serbia',
 'Bangkok, Thailand',
 'Mexico City, Mexico',
 'Siem Reap, Cambodia',
 'Phuket, Thailand',
 'Xian, China',
 'Budapest, Hungary',
 'Sofia, Bulgaria',
 'Santiago, Chile',
 'Lima, Peru',
 'Cusco, Peru',
 'Krakow, Poland',
 'Mumbai, India',
 'Fez, Morocco',
 'Arusha, Tanzania',
 'Marrakech, Morocco',
 'San Jose, Costa Rica',
 'Istanbul, Turkey',
 'Taipei, Taiwan',
 'Santa Ana, El Salvador',
 'Kiev, Ukraine',
 'Beirut, Lebanon',
 'Buenos Aires, Argentina',
 'Riga, Latvia',
 'Montevideo, Uruguay',
 'Warsaw, Poland',
 'Cape Town, South Africa',
 'Rio de Janeiro, Brazil',
 'Dakar, Senegal',
 'Kuala Lumpur, Malaysia',
 'Sarajevo, Bosnia and Herzegovina',
 'Vilnius, Lithuania',
 'Boracay Island, Philippines',
 'Cesky Krumlov, Czechia',
 'Shanghai, China',
 'Beijing, China',
 'Antigua, Guatemala',
 'Zagreb, Croatia',
 'Bratislava, Slovakia',
 'Panama City, Panama',
 'Cairo, Egypt',
 'Prague, Czechia',
 'Saint Petersburg, Russia',
 'Split, Croatia',
 'Santorini, Greece',
 'Amman, Jordan',
 'Moscow, Russia',
 'Seoul, South Korea',
 'Roat√°n Island, Honduras',
 'Tenerife, Spain',
 'Tallinn, Estonia',
 'Valletta, Malta',
 'Lisbon, Portugal',
 'Nairobi, Kenya',
 'Cairns, Australia',
 'Singapore, Singapore',
 'Ljubljana, Slovenia',
 'San Pedro (Ambergris Caye), Belize',
 'Hong Kong, Hong Kong',
 'Naples, Italy',
 'Athens, Greece',
 'Montreal, Canada',
 'Ibiza, Spain',
 'Auckland, New Zealand',
 'Sydney, Australia',
 'Berlin, Germany',
 'Brisbane, Australia',
 'Bruges, Belgium',
 'Madrid, Spain',
 'Nice, France',
 'Dubrovnik, Croatia',
 'Milan, Italy',
 'Melbourne, Australia',
 'New Orleans, United States',
 'Macau, Macao',
 'Tokyo, Japan',
 'Barcelona, Spain',
 'Luxembourg City, Luxembourg',
 'Edinburgh, United Kingdom',
 'Florence, Italy',
 'Oslo, Norway',
 'Queenstown, New Zealand',
 'Rome, Italy',
 'Abu Dhabi, United Arab Emirates',
 'Bergen, Norway',
 'Dubai, United Arab Emirates',
 'Vienna, Austria',
 'Salzburg, Austria',
 'Reykjavik, Iceland',
 'Brussels, Belgium',
 'Helsinki, Finland',
 'Vancouver, Canada',
 'Dublin, Ireland',
 'Hamburg, Germany',
 'Munich, Germany',
 'Las Vegas, United States',
 'Toronto, Canada',
 'Paris, France',
 'Stockholm, Sweden',
 'Los Angeles, United States',
 'Miami Beach, United States',
 'Tel Aviv, Israel',
 'Washington D.C., United States',
 'Copenhagen, Denmark',
 'London, United Kingdom',
 'Honolulu, United States',
 'Interlaken, Switzerland',
 'Chicago, United States',
 'Amsterdam, Netherlands',
 'San Francisco, United States',
 'Venice, Italy',
 'Boston, United States',
 'New York City, United States',
 'Zurich, Switzerland']

In [12]:
locator = Nominatim(user_agent="myGeocoder")

top_places = {}
latitude_list = []
longitude_list = []

for city in places_list:   
    try:
        location = locator.geocode(city)        
        
        latitude = location.latitude 
        longitude = location.longitude
            
    except:
        latitude = ""        
        longitude = ""
    
    latitude_list.append(latitude)        
    longitude_list.append(longitude)    
    
top_places['city_country'] = places_list
top_places['lat'] = latitude_list
top_places['lon'] = longitude_list

In [13]:
# put data into pandas dataframe
coords_df = pd.DataFrame(top_places, columns= ['city_country', 'lat', 'lon'])

In [14]:
# check if any city doesn't have a coord
empty_coords = coords_df[coords_df['lat']==""]
print(empty_coords)

                           city_country lat lon
75                     Lisbon, Portugal
80   San Pedro (Ambergris Caye), Belize
86                Auckland, New Zealand
93                   Dubrovnik, Croatia
99                     Barcelona, Spain
105                         Rome, Italy
112                   Brussels, Belgium
118            Las Vegas, United States
125      Washington D.C., United States
131              Amsterdam, Netherlands

In [36]:
# enter coords for San Pedro (Ambergris Caye), Belize
coords_df.loc[coords_df['city_country'] == "San Pedro (Ambergris Caye), Belize", 'lat'] = 18.0083682999
coords_df.loc[coords_df['city_country'] == "San Pedro (Ambergris Caye), Belize", 'lon'] = -87.9252862988

# enter coords for Lisbon, Portugal
coords_df.loc[coords_df['city_country'] == "Lisbon, Portugal", 'lat'] = 38.736946
coords_df.loc[coords_df['city_country'] == "Lisbon, Portugal", 'lon'] = -9.142685

# enter coords for  Auckland, New Zealand
coords_df.loc[coords_df['city_country'] == " Auckland, New Zealand", 'lat'] = -36.848461
coords_df.loc[coords_df['city_country'] == " Auckland, New Zealand", 'lon'] = 174.763336

# enter coords for  Dubrovnik, Croatia
coords_df.loc[coords_df['city_country'] == "Dubrovnik, Croatia", 'lat'] = 42.6480713
coords_df.loc[coords_df['city_country'] == "Dubrovnik, Croatia", 'lon'] = 18.0921593

 # enter coords for  Barcelona, Spain
coords_df.loc[coords_df['city_country'] == "Barcelona, Spain", 'lat'] = 41.390205
coords_df.loc[coords_df['city_country'] == "Barcelona, Spain", 'lon'] = 2.154007

# enter coords for  Rome, Italy
coords_df.loc[coords_df['city_country'] == "Rome, Italy", 'lat'] = 41.902782
coords_df.loc[coords_df['city_country'] == "Rome, Italy", 'lon'] = 12.496366

# enter coords for  Brussels, Belgium
coords_df.loc[coords_df['city_country'] == "Brussels, Belgium", 'lat'] = 50.8504486
coords_df.loc[coords_df['city_country'] == "Brussels, Belgium", 'lon'] =  4.3487802

# enter coords for   Las Vegas, United States
coords_df.loc[coords_df['city_country'] == " Las Vegas, United States", 'lat'] = 36.114647
coords_df.loc[coords_df['city_country'] == " Las Vegas, United States", 'lon'] =  -115.172813

# enter coords for   Washington D.C., United States
coords_df.loc[coords_df['city_country'] == " Washington D.C., United States", 'lat'] = 38.89511
coords_df.loc[coords_df['city_country'] == " Washington D.C., United States", 'lon'] =  -77.03637

# enter coords for  Amsterdam, Netherlands
coords_df.loc[coords_df['city_country'] == " Amsterdam, Netherlands", 'lat'] = 52.370216
coords_df.loc[coords_df['city_country'] == " Amsterdam, Netherlands", 'lon'] =  4.895168

In [46]:
# check if data were correctly entered
1#->corect   2#-> not working
coords_df.loc[coords_df['city_country'] == "San Pedro (Ambergris Caye), Belize"]
# coords_df.loc[coords_df['city_country'] == "Lisbon, Portugal"]
## coords_df.loc[coords_df['city_country'] == "Auckland, New Zealand"]
# coords_df.loc[coords_df['city_country'] == "Dubrovnik, Croatia"]
# coords_df.loc[coords_df['city_country'] == "Barcelona, Spain"]
# coords_df.loc[coords_df['city_country'] == "Rome, Italy"]
# coords_df.loc[coords_df['city_country'] == "Brussels, Belgium"]
## coords_df.loc[coords_df['city_country'] == "Las Vegas, United States"]
## coords_df.loc[coords_df['city_country'] == "Washington D.C., United States"]
# coords_df.loc[coords_df['city_country'] == "Amsterdam, Netherlands"]

                          city_country      lat      lon
80  San Pedro (Ambergris Caye), Belize  18.0084 -87.9253

In [47]:
# connecting to sqlite
conn = sqlite3.connect('backpackers_index.db')
c = conn.cursor()

In [48]:
try:
    # Drop table if exists
    c.execute('DROP TABLE COORDS')
except:
    # Create table
    c.execute('CREATE TABLE COORDS (City_Country, Lat, Lon)')
    conn.commit()
    coords_df.to_sql('COORDS', conn, if_exists='replace', index = False)

# check if table in database is created

c.execute('''  SELECT * FROM COORDS ''')

OperationalError: no such table: COORDS

In [34]:
for row in c.fetchall():
    print(row)

('Hanoi, Viet Nam', '21.0294498', '105.8544441')
('Saigon (Ho Chi Minh City), Viet Nam', '10.7758439', '106.7017555')
('Jakarta, Indonesia', '-6.1753942', '106.827183')
('Pokhara, Nepal', '28.209538', '83.991402')
('Hoi An, Viet Nam', '15.8798137', '108.3273939')
('Vientiane, Laos', '17.9640988', '102.6133707')
('Chiang Mai, Thailand', '18.790876', '98.988048')
('Manila, Philippines', '14.5906216', '120.9799696')
('Yangon, Myanmar', '16.7967129', '96.1609916')
('Quito, Ecuador', '-0.2201641', '-78.5123274')
('Kathmandu, Nepal', '27.708317', '85.3205817')
('Cancun, Mexico', '21.1617854', '-86.8510468')
('Delhi, India', '28.6517178', '77.2219388')
('Phnom Penh, Cambodia', '11.568271', '104.9224426')
('Colombo, Sri Lanka', '6.9349969', '79.8538463')
('Goa, India', '15.3004543', '74.0855134')
('Granada (Nicaragua), Nicaragua', '10.946566', '-83.7356688')
('Cartagena, Colombia', '10.4195841', '-75.5271224')
('Zanzibar City, Tanzania', '-6.1664908', '39.2074312')
('La Paz, Bolivia', '-16.4955455', '-68.1336229')
('Kuta, Bali, Indonesia', '-8.7263055', '115.177551844638')
('Bucharest, Romania', '44.4361414', '26.1027202')
('Luang Prabang, Laos', '19.8887438', '102.135898')
('Belgrade, Serbia', '44.8178131', '20.4568974')
('Bangkok, Thailand', '13.7542529', '100.493087')
('Mexico City, Mexico', '19.4326296', '-99.1331785')
('Siem Reap, Cambodia', '13.3617562', '103.8590321')
('Phuket, Thailand', '7.9366015', '98.3529292')
('Xian, China', '34.3468421', '108.9365887')
('Budapest, Hungary', '47.48138955', '19.146072784482')
('Sofia, Bulgaria', '42.6978634', '23.3221789')
('Santiago, Chile', '-33.4377968', '-70.6504451')
('Lima, Peru', '-12.0621065', '-77.0365256')
('Cusco, Peru', '-13.5170887', '-71.9785356')
('Krakow, Poland', '50.0469432', '19.9971534358367')
('Mumbai, India', '18.9387711', '72.8353355')
('Fez, Morocco', '34.0346534', '-5.0161926')
('Arusha, Tanzania', '-3.427534', '36.7085848184899')
('Marrakech, Morocco', '31.6258257', '-7.9891608')
('San Jose, Costa Rica', '9.9325427', '-84.0795782')
('Istanbul, Turkey', '41.0766019', '29.052495')
('Taipei, Taiwan', '25.0375198', '121.5636796')
('Santa Ana, El Salvador', '13.9947208', '-89.5566796')
('Kiev, Ukraine', '50.4500336', '30.5241361')
('Beirut, Lebanon', '33.8959203', '35.47843')
('Buenos Aires, Argentina', '-34.6075682', '-58.4370894')
('Riga, Latvia', '56.9493977', '24.1051846')
('Montevideo, Uruguay', '-34.9059039', '-56.1913569')
('Warsaw, Poland', '52.2337172', '21.0714111288323')
('Cape Town, South Africa', '-33.928992', '18.417396')
('Rio de Janeiro, Brazil', '-22.9110137', '-43.2093727')
('Dakar, Senegal', '14.693425', '-17.447938')
('Kuala Lumpur, Malaysia', '3.1516964', '101.6942371')
('Sarajevo, Bosnia and Herzegovina', '43.8519774', '18.3866868')
('Vilnius, Lithuania', '54.6870458', '25.2829111')
('Boracay Island, Philippines', '11.96932405', '121.922619437591')
('Cesky Krumlov, Czechia', '48.80511495', '14.3161977911064')
('Shanghai, China', '31.2322758', '121.4692071')
('Beijing, China', '39.906217', '116.3912757')
('Antigua, Guatemala', '14.5589875', '-90.7333258')
('Zagreb, Croatia', '45.813177', '15.977048')
('Bratislava, Slovakia', '48.1516988', '17.1093063')
('Panama City, Panama', '8.9714493', '-79.5341802')
('Cairo, Egypt', '30.048819', '31.243666')
('Prague, Czechia', '50.0874654', '14.4212535')
('Saint Petersburg, Russia', '59.9606739', '30.1586551')
('Split, Croatia', '43.5116383', '16.4399659')
('Santorini, Greece', '36.4071112', '25.4566636527072')
('Amman, Jordan', '31.9515694', '35.9239625')
('Moscow, Russia', '55.4792046', '37.3273304')
('Seoul, South Korea', '37.5666791', '126.9782914')
('Roat√°n Island, Honduras', '16.34902105', '-86.4977516565194')
('Tenerife, Spain', '28.2935785', '-16.6214471211441')
('Tallinn, Estonia', '59.4372155', '24.7453688')
('Valletta, Malta', '35.8989818', '14.5136759')
('Lisbon, Portugal', '38.736946', '-9.142685')
('Nairobi, Kenya', '-1.2832533', '36.8172449')
('Cairns, Australia', '-16.9206657', '145.7721854')
('Singapore, Singapore', '1.357107', '103.8194992')
('Ljubljana, Slovenia', '46.0499803', '14.5068602')
('San Pedro (Ambergris Caye), Belize', '18.0083682999', '-87.9252862988')
('Hong Kong, Hong Kong', '22.2793278', '114.1628131')
('Naples, Italy', '40.8359336', '14.2487826')
('Athens, Greece', '37.9839412', '23.7283052')
('Montreal, Canada', '45.4972159', '-73.6103642')
('Ibiza, Spain', '38.9743901', '1.41974631785153')
('Auckland, New Zealand', '', '')
('Sydney, Australia', '-33.8548157', '151.2164539')
('Berlin, Germany', '52.5170365', '13.3888599')
('Brisbane, Australia', '-27.4689682', '153.0234991')
('Bruges, Belgium', '51.2085526', '3.226772')
('Madrid, Spain', '40.4167047', '-3.7035825')
('Nice, France', '43.7009358', '7.2683912')
('Dubrovnik, Croatia', '42.6480713', '18.0921593')
('Milan, Italy', '45.4668', '9.1905')
('Melbourne, Australia', '-37.8142176', '144.9631608')
('New Orleans, United States', '29.9499323', '-90.0701156')
('Macau, Macao', '22.1899448', '113.5380454')
('Tokyo, Japan', '35.6828387', '139.7594549')
('Barcelona, Spain', '41.390205', '2.154007')
('Luxembourg City, Luxembourg', '49.6112768', '6.129799')
('Edinburgh, United Kingdom', '55.9533456', '-3.1883749')
('Florence, Italy', '43.7698712', '11.2555757')
('Oslo, Norway', '59.9133301', '10.7389701')
('Queenstown, New Zealand', '-45.0321923', '168.661')
('Rome, Italy', '41.902782', '12.496366')
('Abu Dhabi, United Arab Emirates', '24.4747961', '54.3705762')
('Bergen, Norway', '60.3943055', '5.3259192')
('Dubai, United Arab Emirates', '25.0657', '55.1713')
('Vienna, Austria', '48.2083537', '16.3725042')
('Salzburg, Austria', '47.7981346', '13.0464806')
('Reykjavik, Iceland', '64.145981', '-21.9422367')
('Brussels, Belgium', '50.8504486', '4.3487802')
('Helsinki, Finland', '60.1674098', '24.9425769')
('Vancouver, Canada', '49.2608724', '-123.1139529')
('Dublin, Ireland', '53.3497645', '-6.2602732')
('Hamburg, Germany', '53.5437641', '10.0099133')
('Munich, Germany', '48.1371079', '11.5753822')
('Las Vegas, United States', '', '')
('Toronto, Canada', '43.6534817', '-79.3839347')
('Paris, France', '48.8566969', '2.3514616')
('Stockholm, Sweden', '59.3251172', '18.0710935')
('Los Angeles, United States', '34.0536909', '-118.2427666')
('Miami Beach, United States', '25.7929198', '-80.1353006')
('Tel Aviv, Israel', '32.0804808', '34.7805274')
('Washington D.C., United States', '', '')
('Copenhagen, Denmark', '55.6867243', '12.5700724')
('London, United Kingdom', '51.5073219', '-0.1276474')
('Honolulu, United States', '21.304547', '-157.8556764')
('Interlaken, Switzerland', '46.6855231', '7.8585139')
('Chicago, United States', '41.8755616', '-87.6244212')
('Amsterdam, Netherlands', '', '')
('San Francisco, United States', '37.7790262', '-122.4199061')
('Venice, Italy', '45.4371908', '12.3345898')
('Boston, United States', '42.3602534', '-71.0582912')
('New York City, United States', '40.7127281', '-74.0060152')
('Zurich, Switzerland', '47.3723941', '8.5423328')